body{
	font-family: 'Oswald', sans-serif;
}
nav {
	font-size: 26px; 
	background-color: #787276;
	text-align: center;
	color: white; 
}
.navdiv{
	text-align: center;
	color: white;
}

.txt{
  float: left;
  font-size: 30px;
  text-align: center;
  margin-right: 0px;
  margin-left: 120px;
  margin-top: 100px;
}
img{
	width:500px; 
	height:250px;
	margin:10px;
}
input[type=text], input[type=email], input[type=date], input[type=time]{
	height: 30px;
	margin-left: 10px;
}
input[type=text], input[type=email], input[type=date], input[type=time] :focus{
	}
input[type=submit]{
	cursor: pointer;
	margin-left: 55px;	
	font-family: 'Oswald', sans-serif;
}
/* main css*/

.text1 {
  line-height: 2;
  font-size: 15px;
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;

}

.img1 {
  height: 450px;
  width: 400px;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
 }

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box {
    padding: 5%;
}

.features-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.features-icon:hover {
    color: #ff4c68;
    transition: all .2s;
}

#testimonials {
  text-align: center;
    background-color: #48AAAD;
    color: #fff;
}

.testimonial-text {
 
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;

}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #49AAAD;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}
/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}
/*footeer*/
.logof{
width: 250px;
height: 350px;
}
.textf{
  
  margin-left: 10px;
  font-size: 15px;
  line-height: 2;
}
/*gallery*/
.text1 {
  line-height: 2;
  font-size: 15px;
  text-align: justify;
  padding-left: 15px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 70px;
}

.imga {
  height: 300px;
  width: 400px;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}
/*shop*/

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 3px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}
.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;}

    .table3{

  
  width:90%;
  font-size: 15px;
}

.
.th2{
  font-family: Verdana;
  font-size: 20px;

}


.no{
  font-family: Courier;
  font-size: 25px;
  text-align: justify;
}
video{
  height: auto;
  width: 70%;
  align-content: center;
}
.thisform{
  align-content: center;
  background-color: #fbdcc4;
  width: 90%;
  border-radius: 12px;

}
label{
  margin-left: 15px;
  font-size: 18px;
}
option{
  font-family: courier;
  font-size: 20px;
}

.tf1{

  margin: 6px 0;
  padding: 4px 10px;
  width: 195px;
  display: inline-block;
  background-color: #e0dede;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: courier;
  font-size: 20px;
}
input[type=text], input[type=email], input[type=number]:focus{
  }

input[type=submit], input[type=reset] {

  margin: 6px 0;
  padding: 8px 12px;
  width: 80px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

input[type=submit], input[type=reset]:hover {
  background-color: #45a049;
}
